@import "tailwindcss";

:root {
  --softeam1: #072763;
  --softeam2: #1C58A8;
  --softeam3: #1074BC;
  --softeam4: #94D2FF;
  --softeam5: #ededed;

  --background: var(--softeam1);
  --foreground: var(--softeam5);
}

@theme inline {
}

@media (prefers-color-scheme: dark) {

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
